\\REGOLE GENERALI\\
body {
  text-align: center;
}

header,
.fotoDesc,
#latestNews {
  background-color: antiquewhite;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: brown;
}

main {
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
/*REGOLE HEADER*/
header {
  border-radius: 25px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: antiquewhite;
  padding: 20px;
  color: brown;
}

.nav-button {
  flex-grow: 0;
  flex-basis: 150px;
  margin-top: 0.1rem;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  background-color: darkgoldenrod;
  border-radius: 25px;
  font-weight: 600;
}

.nav-button:nth-child(odd) {
  order: 0;
}
.nav-button:nth-child(even) {
  order: 00;
}

#shop {
  flex-basis: 100%;
  margin-bottom: 1rem;
  order: 0;
}

.nav-button:hover {
  background-color: #555;
}

/*REGOLE MAIN*/
h2 {
  font-size: 2.5rem;
  margin-top: 1.5 rem;
}

.fotoDesc {
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fotoDesc p {
  font-weight: bold;
  color: brown;
  margin-top: 1rem;
  font-size: 1rem;
}

.fotoDesc .Italian {
  width: 50%;
  box-sizing: border-box;
  text-align: left;
  color: brown;
  font-size: 1rem;
}
img {
  width: 100%;
}

.addToCart {
  background-color: goldenrod;
  font-weight: bold;
  color: brown;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 50%;
  padding: 0.5rem;
}

#latestNews {
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 25px;
  overflow: hidden;
}

#latestNews p {
  margin-bottom: 1rem;
}
